body{
  background-color: li;그라데이션 효과 주기
}
#container{
  width: 1000px;
  margin: 0 auto;
}

.head-img{
  display: inline-block;
  width: 250px;
  height: auto;
  border-radius: 50%;

}

ul {
  list-style: none;
  display: inline-block;
}

.head-ul{
  display: flex;
  justify-content: space-around;
  align-items: fcenter;
  padding: 0;
}


.head-ul li {
  width: 85px;
  height: 20px;
  border: 1px solid #222;
  float: left;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border-radius: 35%;
}

.head-ul li a{
  text-decoration: none;
  color: black;
  font-size: 0.8em;
}

.sec-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #222;
  margin: 20px 0 0 30px;
}



h4{
  text-align: center;
}

section {
  border: 1px solid #222;
  margin-bottom: 10px;
  border-radius: 50px;
  width: 100%;
  height: 300px;
}

section p {
  margin-left: 10px;
}